@charset "UTF-8";
/* ___________________________________________ */
/*                 Font import!                */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic");
/* ___________________________________________ */
/*                    Reset!                   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ___________________________________________ */
/*                 General style!              */
body {
  background: #ebebeb;
}

@-webkit-keyframes showHeader {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes showHeader {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 0;
  }
}

/* ___________________________________________ */
/*                     Header!                 */
header {
  -webkit-animation: showHeader 700ms 400ms ease-in-out forwards;
          animation: showHeader 700ms 400ms ease-in-out forwards;
  height: 150px;
  padding: 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fefefe;
  font-size: 30px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.19);
  position: relative;
  margin-top: -192px;
  margin-bottom: 50px;
}

/* Left column! */
#main-page {
  color: #212121;
  font-size: 38px !important;
  padding-top: 27px;
  padding-right: 12px;
  padding-bottom: 23px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 25px;
}

#sub-page {
  font-size: 25px !important;
  color: #212121;
  font-size: 20px;
  text-transform: lowercase;
  padding-bottom: 2px;
}

#sub-page::before {
  content: "// ";
}

/* Right column! */
.user {
  max-width: 400px;
  float: right;
}

#login {
  display: block;
  text-align: center;
  height: 43px;
  float: right;
  font-size: 20px;
  background-color: #4dbd91;
  color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 11px 20px 0 20px;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  margin-top: 23px;
  margin-bottom: 15px;
}

#login .fa-user {
  font-size: 0.88em;
  margin-right: 4px;
}

#logout {
  display: block;
  float: right;
  text-align: center;
  height: 42px;
  font-size: 20px;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  background: #777272;
}

#logout:hover {
  text-decoration: none;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  background: #959191;
}

/* ___________________________________________ */
/*                   Table!                    */
.table-wrapper {
  width: 85%;
  margin: 75px auto 150px auto;
  -webkit-box-shadow: 0 2px 20px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
}

/* Pre Table! */
.pre-table {
  position: relative;
  padding: 25px 20px 45px 20px;
  font-weight: 300;
  background: #54bf95;
  height: 180px;
}

/* Buttons! */
#buttons-wrapper {
  position: absolute;
  top: -25px;
  right: 32px;
  height: 55px;
  width: 150px;
  z-index: 3;
}

#info, #print {
  background: #7b7c85;
  font-size: 24px;
  padding: 14px 22px;
  border: none;
  color: #FAFAFA;
  text-transform: uppercase;
  -webkit-transition: 350ms ease-out;
  transition: 350ms ease-out;
  height: 55px;
  width: 75px;
  float: left;
}

#info:focus, #print:focus {
  outline: none;
}

#info:hover, #print:hover {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #d7d5d5;
}

#info-popup {
  text-align: center;
  position: absolute;
  top: -25px;
  right: 32px;
  width: 150px;
  height: 55px;
  font-size: 19px;
  background: #7b7c85;
  color: #FAFAFA;
  padding: 17px 1px 15px 16px;
  -webkit-transition: 350ms ease-out;
  transition: 350ms ease-out;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  width: 150px;
  overflow: hidden;
  z-index: 1;
  white-space: nowrap;
  text-transform: lowercase;
}

#print::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: 76px;
  height: 25px;
  width: 1px;
  background: rgba(255, 255, 255, 0.55);
}

/* Text! */
.add-checklist {
  position: relative;
  display: block;
  padding: 5px 85px 5px 8px;
  font-size: 28px;
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.99);
}

.add-checklist::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 98%;
  background: rgba(255, 255, 255, 0.5);
  top: 65px;
  left: 8px;
}

.checklist-name {
  display: block;
  padding: 0 85px 0 8px;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.93);
  text-overflow: ellipsis;
}

/* Table! */
table {
  background: #ffffff;
  width: 100%;
  text-align: left;
  color: #212121;
}

.number {
  width: 8%;
  font-weight: 500;
}

.name {
  width: 77%;
}

.execution {
  width: 15%;
  text-align: right;
}

th {
  padding: 22px 25px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  background: #54bf95;
  border-top: 1px solid #54bf95;
}

th:last-child {
  border-right: none;
}

.table-head th {
  color: #fafafa;
  background: #40aa81;
  border-right: 3px solid #54bf95;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table-head th:last-child {
  border-right: none;
}

td {
  padding: 18px 25px;
  line-height: 22px;
}

/* Execution dropdown! */
.select-row {
  text-align: right;
}

.select-row select {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  font-size: 16px;
  padding: 4px 12px;
  font-size: 17px;
  color: #424242;
  background: #a5a4a4;
  color: #FAFAFA;
}

.select-row select:focus {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #212121;
  color: #FFF;
  outline: none;
}

.success {
  position: relative;
}

.success::after {
  content: "✔";
  display: block;
  position: absolute;
  height: 32px;
  width: 34px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 21px;
  padding: 6px 9px 0 0;
  color: #fafafa;
  background-color: #51c292;
  top: 0;
  left: -30px;
}

.failure {
  position: relative;
}

.failure::after {
  content: "×";
  display: block;
  position: absolute;
  height: 32px;
  width: 34px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 34px;
  padding: 5px 8px 0 0;
  color: #fafafa;
  background-color: #f7776e;
  top: 0;
  left: -30px;
}

/* Blockquote! */
blockquote {
  display: block;
  color: #757575;
  border-left: 2px solid #BDBDBD;
  margin: 17px 0 0 2px;
  padding-left: 10px;
}

/* Comment! */
.row-com-wrapper {
  border-bottom: 1px solid #8f8888;
}

.row-comment {
  margin-top: 12px;
  width: 100%;
  height: 70px;
  resize: none;
  border: 1px solid #ada9a9;
  background: #FCFCFC;
  font-size: 15px;
  color: #616161;
  padding: 8px 10px;
  line-height: 20px;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.row-comment:focus {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  border: 1px solid #757575;
  outline: none;
  color: #424242;
}

.row-comment::-webkit-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

.row-comment::-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

.row-comment:-ms-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

.row-comment:-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

.row-comment:focus::-webkit-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

.row-comment:focus::-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

.row-comment:focus:-ms-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

.row-commentt:focus:-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

/* Main comment! */
#main-comment-warpper {
  padding: 10px 50px;
  background: #F5F5F5;
}

.sign-comment {
  display: block;
  text-align: center;
  font-size: 19px;
  color: #424242;
  padding: 20px 10px 35px 10px;
}

#main-comment {
  display: block;
  width: 100%;
  height: 300px;
  resize: none;
  border: 1px solid #E0E0E0;
  font-size: 17px;
  color: #424242;
  padding: 8px 10px;
  line-height: 22px;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

#main-comment:focus {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  border: 1px solid #757575;
  outline: none;
}

#main-comment::-webkit-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

#main-comment::-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

#main-comment:-ms-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

#main-comment:-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: #BDBDBD;
}

#main-comment:focus::-webkit-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

#main-comment:focus::-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

#main-comment:focus:-ms-input-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

#main-comment:focus:-moz-placeholder {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: transparent;
}

/* Submit button! */
#submit-form {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  padding: 15px 20px;
  width: 250px;
  margin: 60px auto;
  border: none;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.45);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.45);
  background: #41ada3;
  color: #FAFAFA;
  font-size: 18px;
}

#submit-form:hover {
  background: #51b9af;
  color: #FFFFFF;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  -webkit-box-shadow: 0 5px 18px -2px rgba(0, 0, 0, 0.55);
          box-shadow: 0 5px 18px -2px rgba(0, 0, 0, 0.55);
}

#submit-form:focus {
  outline: none;
}
