body {
    width: 100vw;
    height: 100vh;
    font-family: 'Amatic SC', cursive;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown__header,
.countdown__content {
    text-align: center;
    color: #eeeeee;
}

.countdown__header {
    font-size: 100px;
}

.countdown__content {
    font-size: 275px;
}

@media (max-width: 900px) {
    .countdown__header {
        font-size: 75px;
    }

    .countdown__content {
        font-size: 205px;
    }
}


@media (max-width: 650px) {
    .countdown__header {
        font-size: 60px;
    }

    .countdown__content {
        font-size: 165px;
    }
}

@media (max-width: 550px) {
    .countdown__header {
        font-size: 50px;
    }

    .countdown__content {
        font-size: 140px;
    }
}